<div id="footer">
  <div class="ui three column menu grid stackable">

    <!-- Left Footer -->
    <div class="column">

      <div class="ui comments">
        <div class="ui horizontal icon divider">
          <i class="comment icon"></i>
        </div>

        <!-- Comment 1 -->
        <div class="comment">
          <a class="avatar">
            <img src="images/review/blank.png" alt="person">
          </a>
          <div class="content">
            <a href="https://www.yelp.com/user_details?userid=ymwB0cXbmaj-peB6X5rmig" target="_blank" class="author">TongTong W.</a>
            <div class="metadata">
              <div class="ui star rating" data-rating="5">
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
              </div>
            </div>
            <div id="review_content" class="text">
              A friend told me about this place, and I decided to try their basic G.M. Collin facial as I didn't have too much facial experience before... My aesthetician Anne did everything very gently, it was so comfortable that I took a nap in the middle :P Most importantly, my face feels healthy and soft afterwards...
            </div>
            <div class="field">
              <a href="https://www.yelp.com/biz/liwei-beauty-new-york?hrid=Z2bc7runno7vLxheZepioA&utm_campaign=bizsite_review_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank"><i class="icon yelp large red"></i>yelp review</a>
            </div>
          </div>
        </div>



        <!-- Comment 2 -->
        <div class="comment">
          <a class="avatar">
            <img src="images/review/negehan.jpg" alt="person">
          </a>
          <div class="content">
            <a href="https://www.yelp.com/user_details?userid=VxQX_cX2iidvg9HRT1qA-g" target="_blank" class="author">Nagehan S.</a>
            <div class="metadata">
              <div class="ui star rating" data-rating="5">
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
              </div>
            </div>
            <div id="review_content">
              <a id="review_image">
                <img class="ui tiny rounded left floated image" src="images/review/nagehan_eyebrow.jpg" alt="">
              </a>
              <p>I found this place on groupon and came here for eyebrow feathering cosmetic tattoo...My eyebrows turned out evenly shaped, beautifully filled and pigmented! I am very grateful and very happy with my look now... It is awesome to have brows 24/7  I recommend this place  Thank you again.</p>
            </div>
            <!-- <div class="text">
              I found this place on groupon and came here for eyebrow feathering cosmetic tattoo...My eyebrows turned out evenly shaped, beautifully filled and pigmented! I am very grateful and very happy with my look now... It is awesome to have brows 24/7  I recommend this place  Thank you again.
            </div> -->
            <div class="field">
              <a href="https://www.yelp.com/biz/liwei-beauty-new-york?hrid=pY0I2HJs1KR7QU9BGUhrtw&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank"><i class="icon yelp large red"></i>yelp review</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Center Footer -->
    <div id="footersocial" class="column">
      <div class="ui horizontal icon divider">
        <i class="bookmark icon"></i>
      </div>


      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//liweibeauty.us13.list-manage.com/subscribe/post?u=83bf6344a226e0bb1b8185e46&amp;id=9aa78bfb0a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">
              Subscribe to our mailing list
              <br>
              Receive 15% off your next service*!
            </label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_831526dea95e7ba7771161ae8_c80d7b9143" tabindex="-1" value="">
            </div>
            <br>
            <br>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
          </div>
          <br>
          <p id="fineprint">* Limited 1 per person, first time customer only, and cannot be combine with any other sales or promotions.</p>
        </form>
      </div>
      <!--End mc_embed_signup-->

      <div class="ui horizontal divider"></div>
      <div class="ui equal width form">
        <div class="fields">
          <div class="field">
            <a href="https://www.facebook.com/LIWEI-Beauty-687687844651740/" target="_blank"><i class="icon facebook square icon huge"></i></a>
          </div>
          <div class="field">
            <a href="https://foursquare.com/v/liwei-beauty/5762c4ae498ec6841d8d87aa" target="_blank"><i class="icon foursquare icon huge pink"></i></a>
          </div>
          <div class="field">
            <a href="https://twitter.com/liweibeauty"><i class="icon twitter icon huge blue" target="_blank"></i></a>
          </div>
        </div>
      </div>
      <br>
      <div class="ui equal width form">
        <div class="fields">
          <div class="field">
            <a href="https://www.instagram.com/liweibeauty/" target="_blank"><i class="icon instagram huge orange"></i></a>
          </div>
          <div class="field">
            <a href="http://www.yelp.com/biz/liwei-beauty-new-york" target="_blank"><i class="icon yelp huge red"></i></a>
          </div>
        </div>
      </div>

    </div>

    <!-- Right Footer -->
    <div class="column">
      <div class="ui horizontal icon divider">
        <i class="info circle icon"></i>
      </div>
      <div class="ui divided items">
        <div class="item">
          <h4>LIWEI BEAUTY INT'L </h4>
        </div>
        <div class="item">
          <h5>
            90 Bowery Street Suite 405
            <br>
            New York, NY 10013
            <br>
            <a href="https://www.google.com/maps/place/LIWEI+BEAUTY/@40.717511,-73.9978547,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259881d003827:0x2f1786e63b9151de!8m2!3d40.717511!4d-73.995666" target="_blank">get direction</a>
          </h5>
        </div>
        <div class="item">
          <h5>
            <i class="icon phone square large"></i>
            <a href="tel:9176393900">
              917-639-3900
            </a>
            <br>
            <br>
            <i class="icon mail square large"></i>
            <a href="mailto:liweibeauty88@gmail.com">
              liweibeauty88@gmail.com
            </a>
          </h5>
        </div>
      </div>
    </div>

  </div>
  <div>
    <h5 class="ui center aligned header">
      <i class="icon copyright"></i>2016 All Rights Reserved, LiWei Beauty International Inc.
    </h5>
  </div>

  <div id="footer_modal" class="ui modal small footer">
    <i class="close icon"></i>
    <img class="ui large rounded left centered image" src="images/review/nagehan_eyebrow.jpg" alt="">

  </div>
</div>
