<div id="footer">
  <div class="ui three column menu grid stackable">

    <!-- Left Footer -->
    <div class="column">

      <div class="ui comments">
        <div class="ui horizontal icon divider">
          <i class="comment icon"></i>
        </div>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//allthingsfrenchie.us11.list-manage.com/subscribe/post?u=831526dea95e7ba7771161ae8&amp;id=c80d7b9143" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            	<label for="mce-EMAIL">
                Subscribe to our mailing list
                <br>
                Receive 15% off your next service!
              </label>
          	  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_831526dea95e7ba7771161ae8_c80d7b9143" tabindex="-1" value="">
              </div>
              <br>
              <br>
              <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
            </div>
          </form>
        </div>

        <!--End mc_embed_signup-->



        <!-- Comment 1 -->
        <div class="comment">
          <a class="avatar">
            <img src="images/review/maria.jpg" alt="person">
          </a>
          <div class="content">
            <a class="author">Maria</a>
            <div class="metadata">
              <div class="ui star rating" data-rating="5">
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
              </div>
            </div>
            <div class="text">
              Love my permanent eyeliner look, they look amazing ... quality is great ... I posted a picture, so you can judge for yourself!
            </div>
            <div class="field">
              <a href="http://www.yelp.com/biz/liwei-beauty-new-york?hrid=4B6MAFs_2xHPDT1tF3dddA&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)"><i class="icon yelp large red"></i>yelp review</a>
            </div>
          </div>
        </div>



        <!-- Comment 2 -->
        <div class="comment">
          <a class="avatar">
            <img src="images/review/helen.jpg" alt="person">
          </a>
          <div class="content">
            <a class="author">Helen</a>
            <div class="metadata">
              <div class="ui star rating" data-rating="5">
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
              </div>
            </div>
            <div class="text">
              ...as a makeup artist your eyebrows always have to be on point ... i decided that i want to get my eyebrows tattooed, but as always worried to get the ratchet look ... they draw and shape them up ... 20 mins later ... I love them! Best investment!
            </div>
            <div class="field">
              <a href="http://www.yelp.com/biz/liwei-beauty-new-york?hrid=tfGTM9ca4w42I7vkmEoLLQ&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)"><i class="icon yelp large red"></i>yelp review</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Center Footer -->
    <div id="footersocial" class="column">
      <div class="ui horizontal icon divider">
        <i class="bookmark icon"></i>
      </div>

      <div class="ui equal width form">
        <div class="fields">
          <div class="field">
            <a href="https://www.facebook.com/LIWEI-Beauty-687687844651740/"><i class="icon facebook square icon huge"></i></a>
          </div>
          <div class="field">
            <a href="#"><i class="icon foursquare icon huge"></i></a>
          </div>
          <div class="field">
            <a href="#"><i class="icon wechat icon huge"></i></a>
          </div>
        </div>
      </div>
      <br>
      <div class="ui equal width form">
        <div class="fields">
          <div class="field">
            <a href="#"><i class="icon instagram huge"></i></a>
          </div>
          <div class="field">
            <a href="http://www.yelp.com/biz/liwei-beauty-new-york"><i class="icon yelp huge"></i></a>
          </div>
        </div>
      </div>

    </div>

    <!-- Right Footer -->
    <div class="column">
      <div class="ui horizontal icon divider">
        <i class="info circle icon"></i>
      </div>
      <div class="ui divided items">
        <div class="item">
          <h4>LIWEI BEAUTY INT'L </h4>
        </div>
        <div class="item">
          <h5>
            96 Bowery Street Suite 405
            <br>
            New York, NY 10013
            <br>
            <a href="https://www.google.com/maps/place/LIWEI+BEAUTY/@40.717511,-73.9978547,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259881d003827:0x2f1786e63b9151de!8m2!3d40.717511!4d-73.995666" target="_blank">get direction</a>
          </h5>
        </div>
        <div class="item">
          <h5>
            <i class="icon phone square large"></i>
            <a href="tel:9176393900">
              917-639-3900
            </a>
            <br>
            <i class="icon phone square large"></i>
            <a href="tel:6466591888">
              646-659-1888
            </a>
            <br>
            <i class="icon mail square large"></i>
            <a href="mailto:liweibeautynyc@gmail.com">
              liweibeautynyc@gmail.com
            </a>
          </h5>
        </div>
      </div>
    </div>

  </div>
</div>
