<div id="header">

  <div id="header">

    <div id="mainHead">

      <div id="menu" class="ui top fixed fluid four item menu">

        <div class="item">
          <img id="logo" src="/images/liweilogo.png" alt="Logo">
        </div>

        <a href="/" class="item">
          <i class="home icon"></i> Home
        </a>

        <a href="/services" class="item">
          <i class="home icon"></i> Services
        </a>

        <a href="/contact" class="item">
          <i class="mail icon"></i> Contact
        </a>

      </div>

    </div>

  </div>

</div>
