<div id="partialhead">

  <!-- Mobile Menu -->
  <div id="m_menu" class="ui thin floating sidebar vertical menu inverted">
    <a href="/" class="item">
      <i class="home icon"></i> Home
    </a>
    <div class="item">
      <i class="chevron circle down icon"></i>
      <span class="text">Services</span>
      <div class="ui menu inverted stackable">
        <a class="item" href="/services/facials">Facials</a>
        <a class="item" href="/services/skincare">Skin Care</a>
        <a class="item" href="/services/massages">Massages</a>
        <a class="item" href="/services/tattoo">Eyebrow Tattoo</a>
        <a class="item" href="/services/treatment">Body Treatment</a>
        <a class="item" href="/services/laser">Laser Hair Removal</a>
      </div>
    </div>
    <a href="/contact" class="item">
      <i class="mail icon"></i> Contact
    </a>
  </div>


<!-- sticky Menu Container -->
  <div id="headertext" class="ui main text container">
    <h1 class="ui header"> Sticky Example</h1>
    <p>This example shows how to use lazy loaded images, a sticky menu, and a simple text container</p>
  </div>

  <!-- Mobile Menu Button -->
  <div id="m_btn" class="ui borderless top fixed horizontal menu black labeled icon button">
    <i class="icon list layout"></i> Menu
  </div>

  <div id="m_btn_hidden" class="ui borderless top fixed horizontal menu black labeled icon button placeholder">
    <i class="icon list layout"></i> Menu
  </div>


  <div id="menu" class="ui borderless main four item menu">

    <div class="ui text container">
      <div class="item">
        <a href="/">
          <img id="logo" src="/images/liweilogo.png" alt="Logo">
        </a>
      </div>
      <a href="/" class="item">
        <i class="home icon"></i> Home
      </a>
      <div class="ui pointing dropdown link item">
        <i class="chevron circle down icon"></i>
        <span class="text">Services</span>
        <div class="menu">
          <div class="header">Categories</div>
          <a class="item" href="/services/facials">Facials</a>
          <a class="item" href="/services/skincare">Skin Care</a>
          <a class="item" href="/services/massages">Massages</a>
          <a class="item" href="/services/tattoo">Eyebrow Tattoo</a>
          <a class="item" href="/services/treatment">Body Treatment</a>
          <a class="item" href="/services/laser">Laser Hair Removal</a>
        </div>
      </div>
      <a href="/contact" class="item">
        <i class="mail icon"></i> Contact
      </a>
    </div>
  </div>

  <div id="borderless" class="ui borderless main four item menu placeholder">
    <!-- Mobile Menu Button -->
    <div id="m_btn" className="ui black labeled icon button">
      <i className="icon list layout"></i> Menu
    </div>

    <div class="ui text container">
      <div class="item">
        <a href="/">
          <img id="logo" src="/images/liweilogo.png" alt="Logo">
        </a>
      </div>
      <a href="/" class="item">
        <i class="home icon"></i> Home
      </a>
      <div class="ui pointing dropdown link item">
        <i class="chevron circle down icon"></i>
        <span class="text">Services</span>
        <div class="menu">
          <div class="header">Categories</div>
          <a class="item" href="/services/facials">Facials</a>
          <a class="item" href="/services/skincare">Skin Care</a>
          <a class="item" href="/services/massages">Massages</a>
          <a class="item" href="/services/tattoo">Eyebrow Tattoo</a>
          <a class="item" href="/services/treatment">Body Treatment</a>
          <a class="item" href="/services/laser">Laser Hair Removal</a>
        </div>
      </div>
      <a href="/contact" class="item">
        <i class="mail icon"></i> Contact
      </a>
    </div>
  </div>

</div>
