<head>
  <meta charset="UTF-8">
  <title>LiWei Beauty</title>

  <!-- google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

  <!-- mailchimp -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us11.list-manage.com","uuid":"831526dea95e7ba7771161ae8","lid":"c80d7b9143"}) })</script>


  <!-- semantic -->
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="semantic/dist/jquery.min.js"></script>
  <script src="semantic/dist/semantic.min.js"></script>

  <!-- local stylesheet -->
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/script.js"></script>

</head>
