<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="semantic/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/script.js"></script>
</head>
