<div id="partialhead">
  <div>
    <img id="mainImage" src="images/background_medium.jpg" alt="background"/>
  </div>

<!-- sticky Menu Container -->
  <div id="headertext" class="ui main text container">
    <h1 class="ui header"> Special Promotion </h1>
    <div id="inlineDisplay">
      <p>40% OFF GM Collin beauty reborn facial ... $79 value</p>
      <a href="tel:6466591888">
        <div id="margindLeft15px" class="ui button pink">
          Contact us
        </div>
      </a>
    </div>
  </div>

  <div id="menu" class="ui borderless main four item menu">

    <div class="ui text container">
      <div class="item">
        <a href="/">
          <img id="logo" src="/images/liweilogo.png" alt="Logo">
        </a>
      </div>
      <a href="/" class="item">
        <i class="home icon"></i> Home
      </a>
      <div class="ui pointing dropdown link item">
        <i class="chevron circle down icon"></i>
        <span class="text">Services</span>
        <div class="menu">
          <div class="header">Categories</div>
          <a class="item" href="/services/facials">Facials</a>
          <a class="item" href="/services/skincare">Skin Care</a>
          <a class="item" href="/services/massages">Massages</a>
          <a class="item" href="/services/tattoo">Eyebrow Tattoo</a>
          <a class="item" href="/services/treatment">GM Collin</a>
        </div>
      </div>
      <a href="/contact" class="item">
        <i class="mail icon"></i> Contact
      </a>
    </div>

  </div>

  <div id="downarrow">
    <i class="icon chevron down huge pink"></i>
  </div>
</div>
