<div id="header">

  <div id="header">

    <div id="mainHead">

      <div id="menu" class="ui top fixed fluid four item menu">

        <div class="item">
          <a href="/">
            <img id="logo" src="/images/liweilogo.png" alt="Logo">
          </a>
        </div>

        <a href="/" class="item">
          <i class="home icon"></i> Home
        </a>

        <div class="ui dropdown item">
          Services
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">
              <a href="/services/facials">Facials</a>
            </div>

            <div class="item">
              <a href="/services/skincare">Skin Care</a>
            </div>

            <div class="item">
              <a href="/services/massages">Massages</a>
            </div>

            <div class="item">
              <a href="/services/tattoo">Eyebrow Tattoo</a>
            </div>

            <div class="item">
              <a href="/services/treatment">Body Treatment</a>
            </div>

            <div class="item">
              <a href="/services/laser">Laser Hair Removal</a>
            </div>
          </div>
        </div>

        <a href="/contact" class="item">
          <i class="mail icon"></i> Contact
        </a>

      </div>

    </div>

  </div>

</div>
