body {
  background-color: #FFFFFF;
}

/* Header Nav Bar */

.main.container {
  margin-top: 2em;
}

.main.menu {
  margin-top: 4em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition:
    box-shadow 0.5s ease,
    padding 0.5s ease
  ;
}
.main.menu .item img.logo {
  margin-right: 1.5em;
}

.overlay {
  float: left;
  margin: 0em 3em 1em 0em;
}
.overlay .menu {
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.main.menu {
  background-color: transparent;

}

.main.menu.fixed {
  background-color: #FFFFFF;
  opacity: 0.9;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.overlay.fixed .menu {
  left: 800px;
}

.text.container .left.floated.image {
  margin: 2em 2em 2em -4em;
}
.text.container .right.floated.image {
  margin: 2em -4em 2em 2em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.overlay.social.fixed {
  top: 140px !important;
}

#mainImage{
  width: 100%;
  height: 400px;
  min-height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

#secondImage{
  width: 100%;
  height: auto;
  min-height: 100%;
  left: 0;
  top: 400px;
  position: absolute;
  z-index: -1;
}

#m_btn{
  margin-left: 10px;
  display: none;
}

#logo{
  height: 90px;
  width: 190px;
}

#borderless {
  display: none;
}

#m_btn_hidden {
  display: none;
}

/* Body */
#mainBody{
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}


.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui){
  color: orange;
}

#headerimage{
  margin-top: 1px;
  margin-bottom: 30px;
}

/* Home Page */
#menutitle{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 6em;
  font-weight: bold;
  color: #E80C7A;
}


/* Services Page */
#fullpage-wrapper{
  height: 100%;
  position: relative;
  touch-action: none;
  transition: all 0ms ease;
  transform: translate3d(0px, -455px, 0px);
}

#section{
  height: 455px;
  background-color: rgb(27, 188, 155);
}

#gmcollin{
  margin-top: 50px;
  margin-bottom: 80px;
}

#onHoverLarge{
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

#onHoverLargeClickable:hover{
  cursor: pointer;
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
   transform:scale(1.05);
}

#onHoverLargeClickableTwo:hover{
  cursor: pointer;
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
   transform:scale(1.05);
}

#onHoverLargeClickableThree:hover{
  cursor: pointer;
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
   transform:scale(1.05);
}

#onHoverLarge:hover {
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
   transform:scale(1.05);
}

/* tattoo detail page */
#centeraligned{
  text-align: center;
  padding-bottom: 30px;
}
#headerPadding{
  text-align: center;
  padding-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

#paddingtop{
  text-align: center;
  padding-top: 130px;
  padding-bottom: 40px;
}

#paddingbottom{
  text-align: center;
  padding-top: 130px;
  padding-bottom: 40px;
}

#dancingfont{
  color: #666666;
  font-size: 3.0em;
  font-family: 'Dancing Script', cursive;
}

#paddingtopandbotton20{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.centeredDiv{
  text-align: center;
  text-align: -webkit-center;
  padding-bottom: 50px;
}

.centered{
  text-align: center;
  text-align: -webkit-center;
}

#centeredAligned{
  margin: auto;
}

/* Contact Page */
#googlemap{
  width:250px;
  height: 250px:
}

/*.ui.segment:first-child{
  margin-top: 150px !important;
}*/

#contact{
  margin-top: 15% !important;
}

/* Footer */
#footer{
  margin-top: 140px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

#footersocial{
  text-align: center;
}

#mc_embed_signup{
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}

#mc_embed_signup input.email{
  width: 250px;
}

/* Responsive */
