/* Header Nav Bar */
body {
  background-color: #FFFFFF;
}
.main.container {
  margin-top: 2em;
}

.main.menu {
  margin-top: 0em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition:
    box-shadow 0.5s ease,
    padding 0.5s ease
  ;
}
.main.menu .item img.logo {
  margin-right: 1.5em;
}

.overlay {
  float: left;
  margin: 0em 3em 1em 0em;
}
.overlay .menu {
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.main.menu {
  background-color: transparent;

}

.main.menu.fixed {
  background-color: #FFFFFF;
  opacity: 0.9;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.overlay.fixed .menu {
  left: 800px;
}

.text.container .left.floated.image {
  margin: 2em 2em 2em -4em;
}
.text.container .right.floated.image {
  margin: 2em -4em 2em 2em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.overlay.social.fixed: {
  top: 140px !important;
}

#mainImage{
  width: 100%;
  height: 400px;
  min-height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

#m_btn{
  margin-left: 10px;
  display: none;
}

#logo{
  height: 90px;
  width: 190px;
}

#borderless {
  display: none;
}

#m_btn_hidden {
  display: none;
}

#inlineDisplay {
  display: flex;
}

#margindLeft15px{
  margin-left: 15px;
}

/* Body */
#mainBody{
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}


/* Home Page */



/* Services Page */
#fullpage-wrapper{
  height: 100%;
  position: relative;
  touch-action: none;
  transition: all 0ms ease;
  transform: translate3d(0px, -455px, 0px);
}

#section{
  height: 455px;
  background-color: rgb(27, 188, 155);
}

/* Contact Page */
#googlemap{
  width:250px;
  height: 250px:
}

.ui.dividing.header{
  text-align: center;
}
/* Footer */
#footer{
  margin-top: 140px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

#footersocial{
  text-align: center;
}

#mc_embed_signup{
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}

#mc_embed_signup input.email{
  width: 250px;
}

/* Responsive */
@media all and (min-width: 1024px) {
  #mainHead .header{
    margin-top: 10%;
  }
  .overlay.fixed .menu{
    left: auto !important;
  }
}

@media all and (min-width: 990px) {
  #mainHead .header{
    margin-top: 10%;
  }
  .overlay.fixed .menu{
    left: 880% !important;
  }
}

@media all and (min-width: 631px) {
  #m_menu.visible{}
  .overlay.fixed .menu{
    left: 550%;
  }
}

@media all and (max-width: 630px) {
  #menu{display: none}
  #headertext{display: none}
  #m_btn{
    display: inline-block;
  }
  .overlay.fixed .menu{
    left: 550%;
  }
}

@media all and (max-width: 400px) {
  #menu{display: none}
  #headertext{display: none}
  #m_btn{
    display: inline-block;
  }
  .overlay.fixed .menu{
    left: 300%;
  }
}


/* Mobile Media Queries */

/* iPhone 5 & 5S */
@media screen (device-aspect-ratio: 40/71) {
  #menu{display: none}
  #headertext{display: none}
  #m_btn{
    display: inline-block;
  }
  .overlay.fixed .menu{
    left: 820%;
  }
}

/* iPhone 6 & 6S */
@media screen (device-aspect-ratio: 375/667) {
  #menu{display: none}
  #headertext{display: none}
  #m_btn{
    display: inline-block;
  }
  .overlay.fixed .menu{
    left: 840%;
  }
}

/* iPhone 6plus */
@media screen (device-aspect-ratio: 16/9) {
  #menu{display: none}
  #headertext{display: none}
  #m_btn{
    display: inline-block;
  }
  .overlay.fixed .menu{
    left: 850%;
  }
}
