<!-- LiWei Major Menus -->
<div id="majormenu">

  <div id="menupaddingbottom">
    <h2 id="dancingfont" class="ui header">Additional products and services</h2>
    <div class="sub header">We also offers wide range of services inlcuding facials, skincare, eyeline, and eyebrow permanent makeup services </div>
  </div>

  <div class="ui three column grid">
    <div class="column">
      <div class="ui fluid card">
        <div class="content"><h3>facials</h3></div>
        <div class="image">
          <img src="/images/deepfacial.jpg">
        </div>
        <div class="header">
          <a id="contentText" href="/services/facials">Learn more<i class="icon angle double right"></i></a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="content"><h3>skincare</h3></div>
        <div class="image">
          <img src="/images/facelift.jpg">
        </div>
        <div class="header">
          <a id="contentText" href="/services/skincare">Learn more<i class="icon angle double right"></i></a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="content"><h3>eyebrow tattoo</h3></div>
        <div class="image">
          <img src="/images/eyebrow.jpg">
        </div>
        <div class="header">
          <a id="contentText" href="/services/tattoo">Learn more<i class="icon angle double right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div id="gmcontact" class="ui piled segments">
    <div class="ui segment">
      To schedule an appointment with one of our service specialists
    </div>
    <div class="ui horizontal segments">
      <a href="mailto:liweibeauty88@gmail.com" class="ui segment blue basic inverted"><i class="icon mail outline large"></i>Email</a>
      <a href="tel:9176393900" class="ui segment green basic inverted"><i class="icon phone large"></i>Call us</a>
    </div>
  </div>

</div>
