<div id="mainBody">
  <!-- 2nd page Header -->
  <div id="paddingbottom">
    <h2 id="dancingfont" class="ui header">The ink on the latest must-do</h2>
    <div class="sub header">Find out how a brow tattoo can change the way you wear makeup!</div>
  </div>

  <!-- Magazine Links -->
  <div id="centeraligned" class="ui small images stackable">
    <a href="http://www.elle.com/beauty/makeup-skin-care/tips/a9406/permanent-makeup/" target="_blank"><img id="leftandrightpadding" class="ui image" src="/images/index/elle.png" alt="elle"></a>
    <a href="http://www.nytimes.com/2011/02/24/fashion/24SKIN.html?_r=0" target="_blank"><img id="leftandrightpadding" class="ui image" src="/images/index/newyorktimes.png" alt="nyt"></a>
    <a href="http://www.self.com/beauty-style/2016/02/eye-brow-tattoo/" target="_blank"><img id="leftandrightpadding" class="ui image" src="/images/index/selfmagazine.png" alt="self"></a>
    <a href="http://www.shape.com/lifestyle/beauty-style/pros-and-cons-permanent-makeup" target="_blank"><img id="leftandrightpadding" class="ui image" src="/images/index/shape.png" alt="shape"></a>
  </div>

  <div id="paddingtopandbotton20" class="ui piled segments">
    <div class="ui segment">
      To schedule an consultation with one of our eyebrow tattoo specialist
    </div>
    <div class="ui horizontal segments">
      <a href="mailto:liweibeauty88@gmail.com" class="ui segment blue basic inverted"><i class="icon mail outline large"></i>Email</a>
      <a href="tel:9176393900" class="ui segment green basic inverted"><i class="icon phone large"></i>Call us</a>
    </div>
  </div>

  <!-- page 2 arrow down -->
  <div id="pagetwodownarrow">
    <i id="pagetwoicon" class="icon chevron down huge pink"></i>
  </div>

  <p></p>
</div>
