<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header partial -->
  <%- include ../partials/service_header %>

  <!-- Body partial -->
  <div>

    <div id="contact" class="ui segment teal raised">
      <div class="ui dividing header">
        <h3> Contact us </h3>
        <p>Please complete the following form to schedule a complimentary skin analysis.</p>
        <p>Or call us at <a href="tel:9176393900">917-639-3900</a></p>
      </div>
      <br>
      <form class="ui form fluid">

        <div class="two fields">
          <div class="field">
            <label>First Name</label>
            <input type="text" placeholder="First Name">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input type="text" placeholder="Last Name">
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Email</label>
            <input type="text" placeholder="E-mail">
          </div>
          <div class="field">
            <label>Phone</label>
            <input type="text" placeholder="Phone">
          </div>
        </div>

        <div class="field">
          <label>Message</label>
          <textarea></textarea>
        </div>

        <button class="ui button" type="submit">Submit</button>

      </form>

    </div>

  </div>
  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
