<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header partial -->
  <%- include ../partials/detail_header %>

  <!-- Body partial -->
  <div id="mainBody">

    <h1 id="menutitle" class="ui header">What is Permanent Makeup?</h1>

    <div id="headerPadding">
      <h2 id="dancingfont" class="ui header">"Is a process that allows you to "naturally restore, reshape, or create nonexistent eyebrow in a realistic way.""</h2>
    </div>


    <img src="images/tattoo/brow-tattoo_before_after.jpg" alt="Tattoo Before and After" class="ui large image centered">
    <!-- Elle Magazine Quotes -->
    <div id="paddingtop">
      <h2 id="dancingfont" class="ui header">"...phenomenal, amazing, and most important, very natural."</h2>
      <div class="sub header">
        <a href="http://www.elle.com/beauty/makeup-skin-care/tips/a9406/permanent-makeup/" target="_blank"><img id="leftandrightpadding" class="ui small centered image" src="/images/index/elle.png" alt="elle" data-content="Click to read more..."></a>
      </div>
    </div>

    <!-- Self Magazine Quotes -->
    <div id="paddingbottom">
      <h2 id="dancingfont" class="ui header">"I got a brow tattoo and it changed the way I wear makeup ... my new, intensified brows are super low maintenace."</h2>
      <div class="sub header">
        <a href="http://www.self.com/beauty-style/2016/02/eye-brow-tattoo/" target="_blank"><img id="leftandrightpaddingTwo" class="ui small centered image" src="/images/index/selfmagazine.png" alt="self" data-content="Click to read more..."></a>
      </div>
    </div>
  </div>

  <div id="paddingtopandbotton20" class="ui piled segments">
    <div class="ui segment">
      To schedule an consultation with one of our eyebrow tattoo specialist
    </div>
    <div class="ui horizontal segments">
      <a href="mailto:liweibeauty88@gmail.com" class="ui segment blue basic inverted"><i class="icon mail outline large"></i>Email</a>
      <a href="tel:9176393900" class="ui segment green basic inverted"><i class="icon phone large"></i>Call us</a>
    </div>
  </div>

  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
