<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header partial -->
  <%- include ../partials/service_header %>

  <!-- Body partial -->
  <div id="mainBody">

    <div class="ui three columns cards stackable teal">

    <!-- Menu 1 -->
      <div class="card">
        <div class="image">
          <img src="images/p1.jpg" alt="Coffee"/>
        </div>

        <div class="content">
          <div class="header">LIWEI signature facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>This fabulous facial includes all the facial essentials (cleansing, exfoliation and extractions), and is designed specifically for you with variety of essences for deeper penetration original moisture mask.</p>
          </div>
        </div>

        <div class="extra content">
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $688
          </span>
          <span>
            <i class="icon tag"></i> Price: $88
          </span>
        </div>
      </div>

      <!-- Menu 2 -->
      <div class="card">
        <div class="image">
          <img src="images/p2.jpg" alt="Coffee"/>
        </div>
        <div class="content">
          <div class="header">oxygen facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>First step in skin's transformation.  Cooling, claiming, pressurized oxygen increases absorption of the Rejuvenate serum and naturally improves your skin's moisture levels while Vitamins and antioxidants protect and defend.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $788
          </span>
          <span>
            <i class="icon tag"></i> Price: $98
          </span>
        </div>
      </div>

      <!-- Menu 3 -->
      <div class="card">
        <div class="image">
          <img src="images/p3.jpg" alt="Coffee"/>
        </div>
        <div class="content">
          <div class="header">restorative facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Bye-bye, breakouts! Our restorative facial treats oily, dry or acne skin help battling blemishes and is super-smoothing to help calm irritated, acne-afflicted skin.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $588
          </span>
          <span>
            <i class="icon tag"></i> Price: $78
          </span>
        </div>
      </div>

    </div>
  </div>
  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
