<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header partial -->
  <%- include ../partials/service_header %>

  <!-- Body partial -->
  <div id="mainBody">

    <div class="ui three columns cards stackable teal">

    <!-- Menu 1 -->
      <div class="card">
        <div class="image">
          <img src="images/facial/facial.jpg" alt="signature_facial"/>
        </div>

        <div class="content">
          <div class="header">organic facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Cleaning and moisturizing are both important parts of any daily skin care routine. A good cleanser and moisturizer not only leave the skin feeling soft, but they also provide valuable protection against environmental damage. This organic facial treatment selects products formulated with pure healing plant oils and herbal extracts that keep skin looking healthy and radiant.</p>
          </div>
        </div>

        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i>120
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 2 -->
      <div class="card">
        <div class="image">
          <img src="images/facial/oxygen_facial.jpg" alt="oxygen_facial"/>
        </div>
        <div class="content">
          <div class="header">mini facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>A quick pick me up. Includes a cleansing and exfoliation, along with a facial massage and mask. Great when you don’t have the time or if you want to look revitalized for a special occasion. Does not include extractions.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 60
          </span>
          <span>
            <i class="icon tag"></i> 30 mins
          </span>
        </div>
      </div>

      <!-- Menu 3 -->
      <div class="card">
        <div class="image">
          <img src="images/facial/deepfacial.jpg" alt="deep cleansing"/>
        </div>
        <div class="content">
          <div class="header">deep cleansing facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>An intensive deep-pore cleansing facial that uses all natural plant to purify and nourish skin. The facial skin is cleansed, toned and exfoliated and then treated to a therapeutic massage, skin booster treatment, soothing eye treatment and purifying mask. Skin is left feeling hydrated, refreshed and silky smooth.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 100
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 4 -->
      <div class="card">
        <div class="image">
          <img src="images/facial/meridian.jpg" alt="meridian"/>
        </div>
        <div class="content">
          <div class="header">meridian facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Based on traditional Chinese Meridian principles, where different meridians points can alivate pressure, stimulate blood circulation to release metabloic toxins from the body and ultimately promote body rejuvenation, improve skin pigmentations and  restore skin's lsuter.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 100
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 5 -->
      <div class="card">
        <div class="image">
          <img src="images/facial/oxygen.jpg" alt="oxygen"/>
        </div>
        <div class="content">
          <div class="header">pure oxygen facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>A revolutionary oxygenating acne treatment designed to clear skin congestion, detoxify, revitalize fatigued, stressed and dull skin. Formulated with 2% Salicylic Acid (BHA), 15% Glycolic & Lactic Acids (AHAs), and a unique Oxygen Complex, it controls acne and hydrates in depth. The skin becomes luminous, healthy and younger looking.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 150
          </span>
          <span>
            <i class="icon tag"></i> 75 mins
          </span>
        </div>
      </div>

      <!-- Menu 6 -->
      <div class="card">
        <div class="image">
          <img src="images/facial/vitamin.jpg" alt="vitamin"/>
        </div>
        <div class="content">
          <div class="header">multi-vitamin facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>A powerful vitamin treatmen that uses active ingredients to revive sun-damaged and pre-mature aging skin. Vitamins A, C, E, B5, and F boost the complexion and help reverse the signs of photo-aging. A soothing mask fortified with minerals and moisturizing agents regenerate the skin and helps soothe inflamed conditions while providing anti-oxidant protection. </p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 120
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 7 -->
      <div class="card">
        <div class="image">
          <img src="images/facial/harmony.jpg" alt="harmony"/>
        </div>
        <div class="content">
          <div class="header">liwei's harmony facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>A unique revitalizing facial regime that eliminates daily stress. Tension and fatigue from the face treatment includes gentle cleansing, enzyme peel and detoxifying steam. Luxurious massage techniques intensify the customized creams and serums. Eyes are revived with a firming mask. Individual skin type is determined and treated with a custom-blended mask. The complexion is left refreshed. Radiant and glowing. </p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 120
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 8 -->
      <div class="card">
        <div class="image">
          <img src="images/facial/botanical.jpg" alt="botanical"/>
        </div>
        <div class="content">
          <div class="header">botanical facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>An anti-aging treatment for stressed-out skin. Soy protein tightens and firms. Jojoba oil softens, orange blossom water soothes and refreshes, and hyaluronic acid improves elasticity and moisture levels in the skin. Skin is firmed, toned and hydrated. Pores appear minimized. </p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 120
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 9 -->
      <div class="card">
        <div class="image">
          <img src="images/facial/collagen.jpg" alt="collagen"/>
        </div>
        <div class="content">
          <div class="header">collagen enhancement facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>A "non-surgical facelift." Biotechnological active ingredients including unaltered native collagen provide long-lasting results that counteract the signs of aging such as fine lines and wrinkles. Skin is intensely moisturized, cells are regenerated and lines are diminished. The results are visible and immediate. </p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 120
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 10 -->
      <div class="card">
        <div class="image">
          <img src="images/facial/guasha.png" alt="gua sha"/>
        </div>
        <div class="content">
          <div class="header">gua sha facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Gua Sha is a medical treatment used with special tool.  "Gua" means to scrape or rub. "Sha" is the term for raddish raised skin rash that occurs as a result of the scraping. The most common areas for treatment are the yang areas of the body such as the back, neck, shoulders, buttocks, limbs. Occasionally the chest and abdomen are used as well. There are also type of facial Gua Sha that is used in conjunction with cosmetic acupuncture treatments to help increase circulation, elasticity and firmness of the skin.  Gua Sha does however cause temporary ecchymosis (or bruising which fades in 2-4 days).</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 100
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 11 -->
      <div class="card">
        <div class="image">
          <img src="images/facial/derma.jpg" alt="micro-dermabraison"/>
        </div>
        <div class="content">
          <div class="header">micro-dermabraison facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>A gentle resurfacing treatment that restores the natural glow of the skin. A revolutionary advanced physical exfoliation treatment that polishes fine lines and wrinkles, sun-damaged skin, acne scarring, and superficial age spots.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 180
          </span>
          <span>
            <i class="icon tag"></i> 75 mins
          </span>
        </div>
      </div>

      <!-- Menu 12 -->
      <div class="card">
        <div class="image">
          <img src="images/facial/diamond.jpg" alt="diamond"/>
        </div>
        <div class="content">
          <div class="header">diamond peel facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>This treatment is a powerful age-defying skin care to avoid acne and visible signs of aging.This facial exfoliates your skin by using multi-degree diamond tipped wand through continuous scrubbing and vacuuming the spots, superficial acne scars, sun-damaged skin, aging fine lines, dry rough skin and large pores.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 180
          </span>
          <span>
            <i class="icon tag"></i> 75 mins
          </span>
        </div>
      </div>

    </div>
  </div>
  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
