<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header Navbar partial -->
  <%- include ../partials/header %>

  <!-- Body partial -->
  <div id="downarrow">
    <i class="icon chevron down huge pink"></i>
  </div>
  <div id="mainBody">
    <div id"textcontainer" class="ui text container">
      <p></p>
      <!-- 2nd page Header -->
      <div id="paddingbottom">
        <h2 id="dancingfont" class="ui header">The ink on the latest must-do</h2>
        <div class="sub header">Find out how a brow tattoo can change the way you wear makeup!</div>
      </div>

      <!-- Magazine Links -->
      <div id="centeraligned" class="ui small images">
        <a href="http://www.elle.com/beauty/makeup-skin-care/tips/a9406/permanent-makeup/" target="_blank"><img id="leftandrightpadding" class="ui image" src="/images/index/elle.png" alt="elle"></a>
        <a href="http://www.nytimes.com/2011/02/24/fashion/24SKIN.html?_r=0" target="_blank"><img id="leftandrightpadding" class="ui image" src="/images/index/newyorktimes.png" alt="nyt"></a>
        <a href="http://www.self.com/beauty-style/2016/02/eye-brow-tattoo/" target="_blank"><img id="leftandrightpadding" class="ui image" src="/images/index/selfmagazine.png" alt="self"></a>
        <a href="http://www.shape.com/lifestyle/beauty-style/pros-and-cons-permanent-makeup" target="_blank"><img id="leftandrightpadding" class="ui image" src="/images/index/shape.png" alt="shape"></a>
      </div>

      <div id="paddingtopandbotton20" class="ui piled segments">
        <div class="ui segment">
          To schedule an consultation with one of our specialist
        </div>
        <div class="ui horizontal segments">
          <a href="mailto:liweibeautynyc@gmail.com" class="ui segment blue basic inverted"><i class="icon mail outline large"></i>Email</a>
          <a href="tel:9176393900" class="ui segment green basic inverted"><i class="icon phone large"></i>Call us</a>
        </div>
      </div>

      <!-- Major services -->
      <div class="ui three column grid">
        <div class="column">
          <div class="ui fluid card">
            <div class="content"><h3>facials</h3></div>
            <div class="image">
              <img src="/images/deepfacial.jpg">
            </div>
            <div class="header">
              <a id="contentText" href="/services/facials">Learn more<i class="icon angle double right"></i></a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid card">
            <div class="content"><h3>skincare</h3></div>
            <div class="image">
              <img src="/images/facelift.jpg">
            </div>
            <div class="header">
              <a id="contentText" href="/services/skincare">Learn more<i class="icon angle double right"></i></a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid card">
            <div class="content"><h3>eyebrow tattoo</h3></div>
            <div class="image">
              <img src="/images/eyebrow.jpg">
            </div>
            <div class="header">
              <a id="contentText" href="/services/tattoo">Learn more<i class="icon angle double right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <br>

      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

      <!-- Overlay Social Media Menu -->
      <div class="overlay social">
        <div class="ui labeled icon vertical menu">
          <a class="item">
            <i href="http://www.yelp.com/biz/liwei-beauty-new-york" class="yelp icon"></i>Review
          </a>
          <a href="https://www.facebook.com/LIWEI-Beauty-687687844651740/" class="item">
            <i class="facebook icon"></i>Share
          </a>
          <a href="mailto:liweibeautynyc@gmail.com" class="item">
            <i class="mail icon"></i>E-mail
          </a>
        </div>
      </div>

      <div class="overlay placeholder" style="display: none;">
        <div class="ui labeled icon vertical menu">
          <a class="item">
            <i href="#" class="yelp icon">Review</i>
          </a>
          <a class="item">
            <i href="#" class="facebook icon">Share</i>
          </a>
          <a href="mailto:liweibeautynyc@gmail.com"  class="item">
            <i class="mail icon">E-mail</i>
          </a>
        </div>
      </div>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    </div>

  </div>
  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>

</body>
</html>
