<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header partial -->
  <%- include ../partials/service_header %>

  <!-- Body partial -->
  <div id="mainBody">
    <div class="ui three columns cards stackable teal">

      <!-- Menu 1 -->
      <div class="card">
        <div class="image">
          <img src="images/massage/apitherapy.jpg" alt="apitherapy"/>
        </div>
        <div class="content">
          <div class="header">apitherapy: homeopathic bee therapy</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>This therapy is a natural anti-inflammatory, pain reducing agent, not only provides symptom relief, but can  resolve your underlying condition.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 128
          </span>
          <span>
            <i class="icon tag"></i> 45 mins
          </span>
        </div>
      </div>

    </div>
  </div>
  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
