<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header partial -->
  <%- include ../partials/service_header %>

  <!-- Body partial -->
  <div id="mainBody">
    <h3>Massage Page!</h3>
    <div class="ui three columns cards stackable teal">

    <!-- Menu 1 -->
      <div class="card">
        <div class="image">
          <img src="images/p1.jpg" alt="Coffee"/>
        </div>

        <div class="content">
          <div class="header">hot stone message</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Hot stone massage therapy melts away tension, eases muscle stiffness and increases circulation and metabolism.  Each hot stone massage therapy session promotes deeper muscle relaxation through the placement of smooth, water heated stones at key points on the body.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $980
          </span>
          <span>
            <i class="icon tag"></i> Price: $138
          </span>
        </div>
      </div>

      <!-- Menu 2 -->
      <div class="card">
        <div class="image">
          <img src="images/p2.jpg" alt="Coffee"/>
        </div>
        <div class="content">
          <div class="header">meridians massage</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Stimulating acupressure points massage using various techniques to help us clear any blockage and balance the flow of qi and blood in the meridians thereby alleviating common health problems and also achieving Total Wellness for the body and the mind.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $680
          </span>
          <span>
            <i class="icon tag"></i> Price: $128
          </span>
        </div>
      </div>

      <!-- Menu 3 -->
      <div class="card">
        <div class="image">
          <img src="images/p3.jpg" alt="Coffee"/>
        </div>
        <div class="content">
          <div class="header">apitherapy massage</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>This massage technique improves blood flow to areas which facilitates health and gets rid of lactic acid buildup, also help produce a calm and relaxing mood.  It is a great way for people to rejuvenate and smooth themselves psychologically from stress.  The massage sessions boost immunity and prevent the body from developing degenerative disease, which usually involve the muscles, internal organs and bones.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $1380
          </span>
          <span>
            <i class="icon tag"></i> Price: $198
          </span>
        </div>
      </div>

    </div>
  </div>
  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
