<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header partial -->
  <%- include ../partials/service_header %>

  <!-- Body partial -->
  <div id="mainBody">

    <h1 id="menutitle" class="ui header">Skincare</h1>

    <div class="ui three columns cards stackable teal">

    <!-- Menu 1 -->
      <div class="card">
        <div class="image">
          <img src="images/skincare/thermage.png" alt="thermage"/>
        </div>

        <div class="content">
          <div class="header">thermage RF</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Thermage uses a unique form of radio frequency(RF) energy to stimultaneously tighten existing collagen and sitmulate the skin to produce more collagen.  Thermage is a non-invasive treatment can target specific areas of the body to adress the sign of aging.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 380
          </span>
          <span>
            <i class="icon tag"></i> 90 mins
          </span>
        </div>
      </div>

      <!-- Menu 2 -->
      <div class="card">
        <div class="image">
          <img src="images/skincare/det_lift.jpg" alt="needle import"/>
        </div>
        <div class="content">
          <div class="header">DET radio frequency lift</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>High frequency radio massage penetrate deep into layers of the skin, tightening loose skin, reduce wrinkles, remove dark circles and ehances facial curves.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 180
          </span>
          <span>
            <i class="icon tag"></i> 90 mins
          </span>
        </div>
      </div>

      <!-- Menu 3 -->
      <div class="card">
        <div class="image">
          <img src="images/skincare/mesotherapy.jpg" alt="mesotherapy"/>
        </div>
        <div class="content">
          <div class="header">ceramic skin lift</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>The black ceramic Mesotherpay is a safe single course non-invasive face lift treatment with no additional side effect, this service not only immedately remove wrinkle and tightening skins, but also have a long term effect of collagen regeneration for longer lasting results.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 150
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 4 -->
      <div class="card">
        <div class="image">
          <img src="images/skincare/skin_lift.jpg" alt="skin lift"/>
        </div>
        <div class="content">
          <div class="header">derma skin lift</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Dermal skin lift uses high frequency electromagnetic energy to stimulate collagen generation within the dermal fibroblast layser to promote long term collagen regeneration, remove wrinkles and skin whitening effect.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 150
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 5 -->
      <div class="card">
        <div class="image">
          <img src="images/skincare/micro_needle.jpg" alt="micro-needle"/>
        </div>
        <div class="content">
          <div class="header">holistic skin whitening</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Eastern holistic based dark spot removal and skin whitening treatment to restore skin luster.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 100
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 6 -->
      <div class="card">
        <div class="image">
          <img src="images/skincare/thermage.png" alt="Coffee"/>
        </div>
        <div class="content">
          <div class="header">skin whitening retouch services</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Aftercare treatment for the skin whitening</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 180
          </span>
          <span>
            <i class="icon tag"></i> 90 mins
          </span>
        </div>
      </div>

    </div>
  </div>
  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
