<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header partial -->
  <%- include ../partials/service_header %>

  <!-- Body partial -->
  <div id="mainBody">
    <div class="ui three columns cards stackable teal">

    <!-- Menu 1 -->
      <div class="card">
        <div class="image">
          <img src="images/p1.jpg" alt="Coffee"/>
        </div>

        <div class="content">
          <div class="header">thermal RF</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Popular in Europe and Japan and South Korea. More than thousands of Clinical Success Stories. Very popular among Vogue, More, Elle magazines,Royal celebrities, Hollywood, Hong Kong stars.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon tags"></i> Package Price (5): $1380
          </span>
          <span>
            <i class="icon tag"></i> Face: $350
          </span>
          <br>

          <!-- price option 2 -->
          <span class="right floated">
            <i class="icon tags"></i> Package Price (5): $980
          </span>
          <span>
            <i class="icon tag"></i> Neck: $250
          </span>
          <br>

          <!-- price option 2 -->
          <span class="right floated">
            <i class="icon tags"></i> Package Price (5): $750
          </span>
          <span>
            <i class="icon tag"></i> Eye: $200
          </span>
        </div>
      </div>

      <!-- Menu 2 -->
      <div class="card">
        <div class="image">
          <img src="images/p2.jpg" alt="Coffee"/>
        </div>
        <div class="content">
          <div class="header">needle import tightening</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Lift, wrinkles, dark circles, enhance facial curves</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $580
          </span>
          <span>
            <i class="icon tag"></i> Face: $78
          </span>
          <br>

          <!-- price option 2 -->
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $380
          </span>
          <span>
            <i class="icon tag"></i> Neck: $58
          </span>
          <br>

          <!-- price option 2 -->
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $380
          </span>
          <span>
            <i class="icon tag"></i> Eye: $58
          </span>
        </div>
      </div>

      <!-- Menu 3 -->
      <div class="card">
        <div class="image">
          <img src="images/p3.jpg" alt="Coffee"/>
        </div>
        <div class="content">
          <div class="header">mesotherapy</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>High-tech anti-aging wrinkle cosmetic medical technology to recover the youth, beautiful reproduction</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $780
          </span>
          <span>
            <i class="icon tag"></i> Face: $98
          </span>
          <br>

          <!-- price option 2 -->
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $480
          </span>
          <span>
            <i class="icon tag"></i> Neck: $58
          </span>
          <br>

          <!-- price option 2 -->
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $480
          </span>
          <span>
            <i class="icon tag"></i> Eye: $68
          </span>
        </div>
      </div>

      <!-- Menu 4 -->
      <div class="card">
        <div class="image">
          <img src="images/p3.jpg" alt="Coffee"/>
        </div>
        <div class="content">
          <div class="header">painless composition lift skin</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Wrinkle: get rid of shallow wrinkles, improved significantly moderate wrinkles, eye, neck, hand tighten wrinkles</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $980
          </span>
          <span>
            <i class="icon tag"></i> Face: $150
          </span>
          <br>

          <!-- price option 2 -->
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $680
          </span>
          <span>
            <i class="icon tag"></i> Neck: $58
          </span>
          <br>

          <!-- price option 2 -->
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $680
          </span>
          <span>
            <i class="icon tag"></i> Eye: $88
          </span>
        </div>
      </div>

      <!-- Menu 5 -->
      <div class="card">
        <div class="image">
          <img src="images/p3.jpg" alt="Coffee"/>
        </div>
        <div class="content">
          <div class="header">DET high-frquency focusing</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Lift up, remove wrinkles and dark circles, enhance facial curves</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $1380
          </span>
          <span>
            <i class="icon tag"></i> Price: $198
          </span>
        </div>
      </div>

      <!-- Menu 6 -->
      <div class="card">
        <div class="image">
          <img src="images/p3.jpg" alt="Coffee"/>
        </div>
        <div class="content">
          <div class="header">auto micro-needle therapy</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Auto-wrinkle、extra bio-whitening、wrinkle removal、skin firming serum、skin regeneration、bio-skin purify bio、skin sensitivity decreasing DNA</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): $1280
          </span>
          <span>
            <i class="icon tag"></i> Price: $180
          </span>
        </div>
      </div>

      <!-- Menu 7 -->
      <div class="card">
        <div class="image">
          <img src="images/p3.jpg" alt="Coffee"/>
        </div>
        <div class="content">
          <div class="header">multifunction facelift package</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>A multifunction facelift package is a combination of BIO-RF、RF and DET High-Frequency Focusing. These three RF will be applied on different area of the face according to our customers’ age and wrinkles. In this way, our customers will achieve maximum effect.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon tags"></i> Package Price (10): ??
          </span>
          <span>
            <i class="icon tag"></i> Price: $560
          </span>
        </div>
      </div>

    </div>
  </div>
  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
