<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header partial -->
  <%- include ../partials/service_header %>

  <!-- Body partial -->
  <div id="mainBody">
    <div class="ui three columns cards stackable teal">

    <!-- Menu 1 -->
      <div class="card">
        <div class="image">
          <img src="images/tattoo/eyebrow.jpg" alt="embroidery"/>
        </div>

        <div class="content">
          <div class="header">eyebrow embroidery permanent makeup</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Semi-permenant method that can last up to two years.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 380
          </span>
        </div>
      </div>

      <!-- Menu 2 -->
      <div class="card">
        <div class="image">
          <img src="images/tattoo/eyebrow.jpg" alt="feathering"/>
        </div>
        <div class="content">
          <div class="header">eyebrow feathering permanent makeup</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Combination of the shading and hair stroke technique, whereby strokes are made closer to one another creating a shaded dimensional appearance.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 680
          </span>

        </div>
      </div>

      <!-- Menu 3 -->
      <div class="card">
        <div class="image">
          <img src="images/tattoo/eyebrow.jpg" alt="retouch"/>
        </div>
        <div class="content">
          <div class="header">eyebrow permenant makeup retouch</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Eyebrow tattoo retouch service</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 100
          </span>
        </div>
      </div>

      <!-- Menu 4 -->
      <div class="card">
        <div class="image">
          <img src="images/tattoo/lip.jpg" alt="lipline"/>
        </div>
        <div class="content">
          <div class="header">lip line permenant makeup</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>This method uses different shades of color to blend the lip line to complement the natural color, the treatment which is to last 8-10 years, will give you a new fuller lips with no injections necessary.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 380
          </span>
        </div>
      </div>

      <!-- Menu 5 -->
      <div class="card">
        <div class="image">
          <img src="images/tattoo/lip.jpg" alt="full lip"/>
        </div>
        <div class="content">
          <div class="header">full lip permenant makeup</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>This method not only give you fuller lips through lip line tattoo, but also filled in the lips with different shades of color to give you the appearances of a fuller full lips.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 680
          </span>
        </div>
      </div>

      <!-- Menu 6 -->
      <div class="card">
        <div class="image">
          <img src="images/tattoo/eye_liner.jpg" alt="upper eyeline"/>
        </div>
        <div class="content">
          <div class="header">upper eyeline permenant makeup</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Permanent eyeliner or eyelash enahnces the appearance of the eyes.  It eleminates the need to outline eyelids with liquid liners or pencils and improves the appearance of missing, thin, or light colored lashes.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 280
          </span>
        </div>
      </div>

      <!-- Menu 7 -->
      <div class="card">
        <div class="image">
          <img src="images/tattoo/eye_liner.jpg" alt="lower eyeline"/>
        </div>
        <div class="content">
          <div class="header">lower eyeline permenant makeup</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Permanent eyeliner or eyelash enahnces the appearance of the eyes.  It eleminates the need to outline eyelids with liquid liners or pencils and improves the appearance of missing, thin, or light colored lashes.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 280
          </span>
        </div>
      </div>

    </div>
  </div>
  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
