<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header partial -->
  <%- include ../partials/service_header %>

  <!-- Body partial -->
  <div id="mainBody">
    <div class="ui three columns cards stackable teal">

    <!-- Menu 1 -->
      <div class="card">
        <div class="image">
          <img src="images/tattoo/eyebrow.jpg" alt="eyebrow"/>
        </div>

        <div class="content">
          <div class="header">eyebrow permanent makeup</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old."</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon tag"></i> Eco-brow: $680
          </span>
          <span>
            <i class="icon tag"></i> Basic: $280
          </span>
          <br>

          <!-- price option 2 -->
          <span class="right floated">
            <i class="icon tag"></i> 3D Feathering: $880
          </span>
          <span>
            <i class="icon tag"></i> Embroidery: $380
          </span>
          <br>

          <!-- price option 2 -->
          <span class="right floated">
            <i class="icon tag"></i> Fine Carved Shadow: $980
          </span>
          <span>
            <i class="icon tag"></i> Carved: $480
          </span>
        </div>
      </div>

      <!-- Menu 2 -->
      <div class="card">
        <div class="image">
          <img src="images/tattoo/eye_liner.jpg" alt="eyeliner"/>
        </div>
        <div class="content">
          <div class="header">eyeline permanent makeup</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old."</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon tag"></i> Both: $980
          </span>
          <span>
            <i class="icon tag"></i> Upper: $580
          </span>
          <br>

          <!-- price option 2 -->
          <span class="right floated">
            <i class="icon tag"></i> Removal: Negotiable
          </span>
          <span>
            <i class="icon tag"></i> Lower: $580
          </span>
          <br>

        </div>
      </div>

      <!-- Menu 3 -->
      <div class="card">
        <div class="image">
          <img src="images/tattoo/eyelashes.jpg" alt="eyelashes"/>
        </div>
        <div class="content">
          <div class="header">eyelashes permenant makeup</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old."</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon tag"></i> Remodeling: $580
          </span>
          <span>
            <i class="icon tag"></i> Upper/Lower: $480
          </span>

        </div>
      </div>

      <!-- Menu 4 -->
      <div class="card">
        <div class="image">
          <img src="images/tattoo/lip.jpg" alt="lips"/>
        </div>
        <div class="content">
          <div class="header">lips permenant makeup</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old."</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon tag"></i> Lips tattoo: $980
          </span>
          <span>
            <i class="icon tag"></i> Lip line: $680
          </span>

        </div>
      </div>
    </div>
  </div>
  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
