<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header partial -->
  <%- include ../partials/service_header %>

  <!-- Body partial -->
  <div id="mainBody">

    <h1 id="menutitle" class="ui header">Permanent Makeup</h1>

    <div class="ui three columns cards stackable teal">

    <!-- Menu 1 -->
      <div id="onHoverLargeClickable" class="card" data-content="Click to read more...">
        <a href="/services/details"></a>
        <div class="image">
          <img src="images/tattoo/2d.png" alt="embroidery"/>
        </div>

        <div class="content">
          <div class="header">Eyebrow Embroidery</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Basic Semi-Permanent Eyebrow Hairstrokes with one or two dimensional looks.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 380
          </span>
        </div>
      </div>

      <!-- Menu 2 -->
      <div id="onHoverLargeClickableTwo" class="card"  data-content="Click to read more...">
        <a href="/services/details"></a>
        <div class="image">
          <img src="images/tattoo/3d.png" alt="feathering"/>
        </div>
        <div class="content">
          <div class="header">Eyebrow Feathering</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Combination of the shading and hair stroke technique, whereby strokes are made closer to one another creating a shaded dimensional appearance.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 680
          </span>

        </div>
      </div>

      <!-- Menu 3 -->
      <div id="onHoverLargeClickableThree" class="card"  data-content="Click to read more...">
        <a href="/services/details"></a>
        <div class="image">
          <img src="images/tattoo/powdered.png" alt="retouch"/>
        </div>
        <div class="content">
          <div class="header">Eyebrow Powdered Fills</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Method involves the application of thousands of tiny little dots of pigment, inserted into the skin, gradually building up a colour and a defined shape. </p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 100
          </span>
        </div>
      </div>

      <!-- Menu 4 -->
      <div id="onHoverLarge" class="card">
        <div class="image">
          <img src="images/tattoo/lips.png" alt="lipline"/>
        </div>
        <div class="content">
          <div class="header">Lip Lines only Pigmentation</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>This method uses different shades of color to blend the lip line to complement the natural color, the treatment which is to last 8-10 years, will give you a new fuller lips with no injections necessary.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 380
          </span>
        </div>
      </div>

      <!-- Menu 5 -->
      <div id="onHoverLarge" class="card">
        <div class="image">
          <img src="images/tattoo/lips.png" alt="full lip"/>
        </div>
        <div class="content">
          <div class="header">Full Lips <br> Pigmentation</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>This method not only give you fuller lips through lip line tattoo, but also filled in the lips with different shades of color to give you the appearances of a fuller full lips.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 980
          </span>
        </div>
      </div>

      <!-- Menu 6 -->
      <div id="onHoverLarge" class="card">
        <div class="image">
          <img src="images/tattoo/eyeliners.png" alt="upper eyeline"/>
        </div>
        <div class="content">
          <div class="header">Eyeliners Makeup</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Permanent eyeliner or eyelash enahnces the appearance of the eyes.  The price is for either upper or lower eyeliners.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 590
          </span>
        </div>
      </div>

      <div id="onHoverLargeClickableThree" class="card"  data-content="Click to read more...">
        <a href="/services/details"></a>
        <div class="image">
          <img src="images/tattoo/eyebrow.jpg" alt="retouch"/>
        </div>
        <div class="content">
          <div class="header">Eyebrow Retouch</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>For any Microblading retouch services.</p>
          </div>
        </div>
        <div class="extra content">
          <!-- price option 1 -->
          <span class="right floated">
            <i class="icon dollar"></i> 100
          </span>
        </div>
      </div>

  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
