<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header partial -->
  <%- include ../partials/service_header %>

  <!-- Body partial -->
  <div id="mainBody">
    <div>
      <a href="http://www.gmcollin.com/en/index.php?lang=en" target="_blank">
        <img id="headerimage" class="ui centered aligned image large" src="images/gmcollin/gmcollinlogo.gif" alt="gmcollinlogo">
      </a>
    </div>

    <div class="ui three columns cards stackable teal">

    <!-- Menu 1 -->
      <div class="card">
        <div class="image">
          <img src="images/gmcollin/reborn.jpg" alt="reborn"/>
        </div>

        <div class="content">
          <div class="header">GM Collin reborn facial</div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Cleanse, tone, exfoliate. Includes extraction.</p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 79
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 2 -->
      <div class="card">
        <div class="image">
          <img src="images/gmcollin/algomask.jpeg" alt="algomask"/>
        </div>
        <div class="content">
          <div class="header">GM Collin algomask facial </div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>A perfect facial for dehydrated, sensitive and/or rosacea-prone skin. The Algo Mask soothes, hydrates and gives instant radiance to the skin.</p>
            <br>
            <a href="http://www.gmcollin.com/en/displayProd_noJS.php?id=%27gc5240%27" target="_blank">additional informations</a>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 120
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 3 -->
      <div class="card">
        <div class="image">
          <img src="images/gmcollin/seac.jpeg" alt="sea-c"/>
        </div>
        <div class="content">
          <div class="header">GM Collin sea c spa facial </div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Intensive Vitamin C anti-aging treatment. Great for preventing and repairing sun damaged skin. Destroys free radicals and replicates elastin for firmer and younger looking skin.</p>
            <br>
            <a href="http://www.gmcollin.com/en/displayProd_noJS.php?id=%27gc5550%27" target="_blank">additional informations</a>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 120
          </span>
          <span>
            <i class="icon tag"></i> 60mins
          </span>
        </div>
      </div>

      <!-- Menu 4 -->
      <div class="card">
        <div class="image">
          <img src="images/gmcollin/hydrolifting.jpeg" alt="hydro-lifting"/>
        </div>
        <div class="content">
          <div class="header">GM Collin hydro-lifting facial </div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Formulated to deeply rehydrate, restore, lift and firm the skin for instant radiance and enhanced skin tone.</p>
            <br>
            <a href="http://www.gmcollin.com/en/displayProd_noJS.php?id=%27gc5181%27" target="_blank">additional informations</a>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 120
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 5 -->
      <div class="card">
        <div class="image">
          <img src="images/gmcollin/oxygen.jpeg" alt="oxygen"/>
        </div>
        <div class="content">
          <div class="header">GM Collin oxygen facial </div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Formulated to clear skin congestion, control acne and revitalize fatigued, stressed and dulled skin.</p>
            <br>
            <a href="http://www.gmcollin.com/en/displayProd_noJS.php?id=%27gc5123%27" target="_blank">additional informations</a>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 120
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 6 -->
      <div class="card">
        <div class="image">
          <img src="images/gmcollin/collagen90.jpeg" alt="collagen90"/>
        </div>
        <div class="content">
          <div class="header">GM Collin collagen90 facial </div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>An intensive hydration formula proven to regenerate and reduce the appearance of fine lines. Corrective facial for everyone with mature skin type.</p>
            <br>
            <a href="http://www.gmcollin.com/en/displayProd_noJS.php?id=%27gc5170%27" target="_blank">additional informations</a>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 130
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 7 -->
      <div class="card">
        <div class="image">
          <img src="images/gmcollin/botinol.jpeg" alt="botinol"/>
        </div>
        <div class="content">
          <div class="header">GM Collin botinol facial </div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>Formulated to relax deep expression lines and plump skin with botox-like results. Perfect alternative to micro-injection treatments.</p>
            <br>
            <a href="http://www.gmcollin.com/en/displayProd_noJS.php?id=%27gc5542%27" target="_blank">additional informations</a>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> P150
          </span>
          <span>
            <i class="icon tag"></i> 60 mins
          </span>
        </div>
      </div>

      <!-- Menu 8 -->
      <div class="card">
        <div class="image">
          <img src="images/gmcollin/peel.jpg" alt="peel"/>
        </div>
        <div class="content">
          <div class="header">GM Collin revewal peel facial </div>
          <div class="ui star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
          <div class="description">
            <p>A deep exfoliating facial that promotes skin renewal, brightens the complexion, detoxifies and lightens pigmentation spots.</p>
            <br>
            <a href="http://www.gmcollin.com/en/displayProd_noJS.php?id=%27gp5670%27" target="_blank">additional informations</a>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="icon dollar"></i> 30
          </span>
          <span>
            <i class="icon tag"></i> 10 mins
          </span>
        </div>
      </div>

    </div>
  </div>
  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
